.DS_Store
.claude/
PINO Front.png
assets/PINOCCHIO TYPOGRAPHY.png
assets/pinocchio.png
assets/yticon.png
assets/spotifyicon.png
assets/instaicon.png
assets/bandcamp icon.png
assets/applemusicicon.png
